* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    transition: all 1s;
}

.styleMe {
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 100%;
    left: 0;
    top: 0;
}

main {
    margin-top: 60px;
}

h1 {
    flex-grow: 1;
}

#search.searchStyled {
    display: inline-block;
    margin-top: 0;
    flex-grow: 2;
    width: 40%;
}

.buttonStyled {
    border: 1px solid white;
    padding: 0;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 0px;
    background-image: url('images/searchIcon.png');
    background-color: white;
    background-size: cover;
    align-self: auto;
}

#search {
    margin-top: 20px;
    height: 35px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.searchButton {
    align-self: center;
}

.js-wiki {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

h2 {
    align-self: center;
}

.js-error {
    color: red;
}

.js-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nasaImages{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    overflow: hidden;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.formStyled {
    flex-direction: row;

}

.spaceImg {
    max-width: 90%;
    cursor: pointer;
}

.next, .previous {
    display: inline-block;
}

.js-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

iframe {
    max-width: 90%;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;
}

.hidden {
    display: none;
}

.show {
    display: initial;
}