* {
    box-sizing: border-box;
    font-family: 'Roboto';
    padding: 0;
}

header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    width: 500px;
    max-width: 100%;
    border-radius: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    color: rgb(0, 195, 255);
    padding: 40px;
    border: 2px solid rgb(0, 195, 255);
}

.title {
    font-size: 50px;
    border-bottom: 1px solid rgb(0, 195, 255);
}

header.styled {
    margin-top: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: rgb(0, 195, 255);
    font-size: 12px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    z-index: 1;
    border: none;
    border-bottom: 2px solid rgb(0, 195, 255);
}

h1 {
    flex-grow: 1;
    font-family: 'Raleway';
}

#search.styled {
    margin-top: 0;
    flex-grow: 1;
    margin-left: 5px;
}

.searchButton.styled{
    padding: 0;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 0px;
    background-image: url('images/searchIcon.png');
    background-color: rgb(0, 195, 255);
    background-size: cover;
    align-self: auto;
    border-radius: 25px;
    border: none;
}

p {
    font-size: 18px;
    line-height: 26px;
}

#search {
    display: inline-block;
    height: 35px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
}

.next, .previous, .searchButton {
    display: inline-block;
    margin-top: 20px;
    width: 100px;
    height: 35px;
    font-size: 18px;
    border-radius: 25px;
    color: black;
    background-color:rgb(0, 195, 255);
    border: none;
    cursor: pointer;
}

label {
    color: white;
}

button:hover, button:focus {
    text-decoration: underline;
}

button:active, .searchButton.styled:active {
    background-color: white;
}

.searchButton {
    align-self: center;
}

.js-wiki {
    padding: 10px;
}

.js-error {
    margin-top: 80px;
    color: red;
    text-align: center;
}

.js-images, .js-wiki, .js-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nasaImages{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.spaceImg {
    max-width: 100%;
    cursor: pointer;
    border-radius: 25px;
    object-fit: cover;
    height: 300px;
    transition: 1s;
}

.next, .previous {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.styled {
    flex-direction: row;
}

iframe {
    width: 100%;
    margin: 5px;
    border: 2px solid black;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.show {
    display: initial;
}

h2 {
    border-left: 4px solid rgb(0, 195, 255);
    border-right: 4px solid rgb(0, 195, 255);
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    font-family: 'Raleway';
    font-size: 40px;
    border-radius: 10px;
}

a:link {
    color: rgb(0, 195, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(86, 140, 156);
}

a:hover, a:focus{
    font-size: 18px;
    text-decoration: underline;
}

a:active {
    color: blue;
}

@media screen and (min-width: 1050px) {

    body {
        background-color: rgb(34, 34, 34);
    }

    main {
        position: absolute;
        background-color: rgb(34, 34, 34);
        top: 0;
        left: 0;
        width: 100%;
    }

    .dataBox{
        display: flex;
        justify-content: center;
    }

    .js-videos {
        width: 20%;
        background-color: white;
        border-radius: 25px;
        padding: 20px;
        margin-top: 20px;
        height: min-content;
        box-shadow: 5px 5px 3px black;
    }

    .js-wiki {
        margin-right: 20px;
        width: 40%;
        color:  black;
        background-color: white;
        padding: 50px;
        border-radius: 20px;
        margin-top: 20px;
        box-shadow: 5px 5px 3px black;
    }
    
    .nasaImages{
        background-color: white;
        width: 40%;
        border-radius: 25px;
        padding-bottom: 10px;
        box-shadow: 5px 5px 3px black;
    }
}